

<div class="container">
    @foreach (var filter in Model.Filters)
    {
        switch (filter)
        {
            case "Dropdown":
                <div class="Dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">FilterName</button>
                    <ul class="dropdown-menu">
                        @foreach (var rows in Model.)
                    </ul>
                </div>
                break;

            case "StartDate":

                <div class="Dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">FilterName</button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Item_1</a></li>
                        <li><a class="dropdown-item" href="#">Item_2</a></li>
                        <li><a class="dropdown-item" href="#">Item_3</a></li>
                    </ul>
                </div>
                break;

            case "EndDate":
                break;
        }
    }
</div>

