@page
@model AdminReportGeneratorModel
@{
    ViewData["Title"] = "Admin Report Generator";
    ViewData["Page"]  = "Reports";
}

<div class="container">
    <partial name="_FilterPanel"/>
</div>
